<!DOCTYPE html>
<html lang="en">

<%- include("../includes/head.ejs") %>

<body>
  <form action="/add-user" method="POST">
    <label for="name">Enter your name</label>
    <input id="name" name="username" type="text">
    <button type="submit">Send!</button>
  </form>
</body>

</html>