<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head.ejs', {hasProductCss: false, hasFormsCss: false}) %>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <h1>Checkout Page</h1>
  </main>
</body>

</html>